@page
@model CapstoneCustomerRelationsSystem.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
@section styles {
@* <link rel="stylesheet" href="~/styles/manage-tee-times-styles.css"> *@
<link rel="stylesheet" href="~/styles/login-styles.css">
}
@section scripts {

}
<h1>Logout</h1>
<h2>Sign Out</h2>
<hr>
<span>You have logged out successfully.</span>
<hr>